.Center-Name {
    font-style: italic;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #00757C;
    margin-top: 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    max-width: 800px;
} */

.column {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.row {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #f0f0f0;
}

button[type="submit"] {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-left: 20px;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}

.Center-Stock {
    margin-left: 20px;
}